<nav id="main-nav">
  <div class="btn-wrapper">
    <a [routerLink]="Routes.HOME" [ngClass]="{ active: route == Routes.HOME }">
      Home
    </a>
    <a
      [routerLink]="Routes.PASSWORD"
      [ngClass]="{ active: route == Routes.PASSWORD }"
    >
      Password checker
    </a>
    <a
      [routerLink]="Routes.DETECT_PHISHING"
      [ngClass]="{ active: route == Routes.DETECT_PHISHING }"
    >
      Phishing detector
    </a>
    <a
      [routerLink]="Routes.CREATE_PHISHING"
      [ngClass]="{ active: route == Routes.CREATE_PHISHING }"
    >
      Phishing creator
    </a>
    <a
      [routerLink]="Routes.CODE_ANALYZER"
      [ngClass]="{ active: route == Routes.CODE_ANALYZER }"
    >
      Code analyzer
    </a>
    <a
      [routerLink]="Routes.REPORT_GENERATOR"
      [ngClass]="{ active: route == Routes.REPORT_GENERATOR }"
    >
      Report Generator
    </a>
  </div>
</nav>

<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>
