<nav id="main-nav">
  <div class="btn-wrapper">
    <a class="title-gradient text-3xl" [routerLink]="Routes.HOME"> B.E.S.T. </a>
    <a [routerLink]="Routes.HOME" [ngClass]="{ active: route == Routes.HOME }">
      Home
    </a>
    <a
      [routerLink]="Routes.PASSWORD"
      [ngClass]="{ active: route == Routes.PASSWORD }"
    >
      Password Checker
    </a>
    <a
      [routerLink]="Routes.DETECT_PHISHING"
      [ngClass]="{ active: route == Routes.DETECT_PHISHING }"
    >
      Phishing Detector
    </a>
    <a
      [routerLink]="Routes.CREATE_PHISHING"
      [ngClass]="{ active: route == Routes.CREATE_PHISHING }"
    >
      Phishing Creator
    </a>
    <a
      [routerLink]="Routes.CODE_ANALYZER"
      [ngClass]="{ active: route == Routes.CODE_ANALYZER }"
    >
      Code Analyzer
    </a>
    <a
      [routerLink]="Routes.REPORT_GENERATOR"
      [ngClass]="{ active: route == Routes.REPORT_GENERATOR }"
    >
      Report Generator
    </a>
  </div>
</nav>

<div [ngClass]="{ 'content-wrapper': route != Routes.HOME }">
  <router-outlet></router-outlet>
</div>

<div class="gradient"></div>
