<div>
  <h1 class="text-3xl text-center">Phishing Detector</h1>
  <div class="w-fit flex flex-row items-center mt-8 mb-4 select-none">
    <label class="switch">
      <input
        type="checkbox"
        (click)="switchMode()"
        [checked]="mode == PhishingAnalyseMode.File"
      />
      <span class="slider round"></span>
    </label>
    <span class="h-fit ml-2">Upload a .eml file</span>
  </div>

  @if (mode === PhishingAnalyseMode.Manual) {
  <section class="flex flex-col mb-8">
    <label class="text-2xl"> Sender </label>
    <div class="w-full h-8 flex flex-row">
      <app-input
        type="email"
        placeholder="Enter sender email here"
        (onTextChanged)="from = $event"
        class="w-full"
      />
    </div>
  </section>
  <section class="flex flex-col mb-8">
    <label class="text-2xl"> Receiver </label>
    <div class="w-full h-8 flex flex-row">
      <app-input
        type="email"
        placeholder="Enter receiver email here"
        (onTextChanged)="to = $event"
        class="w-full"
      />
    </div>
  </section>
  <section class="flex flex-col mb-8">
    <label class="text-2xl"> Subject </label>
    <div class="w-full h-8 flex flex-row">
      <app-input
        type="text"
        placeholder="Enter Subject"
        (onTextChanged)="subject = $event"
        class="w-full"
      />
    </div>
  </section>
  <section class="flex flex-col">
    <label class="text-2xl"> Email </label>
    <div class="w-full flex flex-row">
      <app-input
        type="multiline"
        placeholder="Enter email content here"
        (onTextChanged)="body = $event"
        class="w-full"
      />
    </div>
  </section>
  }@else {
  <section class="flex flex-col">
    <!-- <label class="" for="annoyingaf"> Upload a .eml file </label> -->
    <input
      #annoying
      id="annoyingaf"
      type="file"
      [(ngModel)]="file"
      accept=".eml"
    />
    <!-- hidden
      onchange="onFileChanged($event.target.files[0].name)" -->
    <!-- <span class=""
      >@if(currentFileName){ currentFileName }@else{ No file selected }</span
    > -->
  </section>
  }
  <div class="flex flex-row">
    <app-button
      (click)="detectPhishing()"
      class="w-96 mx-auto"
      [disabled]="phishingAnalyseState === PhishingAnalyseState.Analyzing"
      label="Run the analysis"
    ></app-button>
  </div>

  @if(phishingAnalyseState == PhishingAnalyseState.Analyzed){
  <h1 class="text-3xl">Score: {{ res?.score }}</h1>
  <h1 class="text-3xl">Reasoning:</h1>
  <div>
    @for(item of getResReasoning();track item){
    <div class="flex flex-row"><br />{{ item }}</div>
    }
  </div>
  } @else if (phishingAnalyseState == PhishingAnalyseState.Analyzing){
  <div class="w-20 h-20 rounded-[50%] loader mx-auto mt-8"></div>
  } @if(fileError.length > 0){
  <div class="flex flex-row">
    <h1 class="text-3xl text-center">{{ fileError }}</h1>
    <h1 class="text-1xl text-center">
      An error might indicate that the email is a scam and precautions should be
      taken.
    </h1>
  </div>
  }
</div>
