<div class="flex flex-col px-32">
  <div class="flex flex-row h-16"></div>
  <div class="flex flex-row mb-24">
    <div class="flex flex-col w-3/5 justify-end">
      <h2 class="text-5xl font-medium mb-3">Beginner Enterprise</h2>
      <h1 class="text-7xl font-semibold title-gradient mb-10 pb-1">
        Security Toolkit
      </h1>
      <p class="text-base">
        This multi use tool leverages AI to accomplish multiple
        cybersecurity-related tasks to facilitate the job of cybersecurity
        analyst, cybersecurity students and developers alike. You can find a
        detailed description of every tool down below.
      </p>
    </div>
    <div class="w-2/5 flex justify-center">
      <img src="../../../assets/logo_dci.png" alt="" class="h-96 mb-10 logo" />
    </div>
  </div>
  <div class="flex flex-row mb-24">
    <div class="w-2/5 flex justify-center">
      <img src="../../../assets/password.png" alt="" />
    </div>
    <div class="flex flex-col w-3/5 justify-center">
      <h2 class="text-5xl font-medium mb-6 text-right">Password Checker</h2>
      <p class="text-base text-right">
        The password checker checks the password against known password lists to
        determine if the password is secure. Then, it uses AI to give a security
        score to the password and suggest changes to the user to make it more
        secure.
      </p>
    </div>
  </div>
  <div class="flex flex-row mb-24">
    <div class="flex flex-col w-3/5 justify-center">
      <h2 class="text-5xl font-medium mb-6">Phishing Detector & Creator</h2>
      <p class="text-base mb-6">
        The phishing detector lets you upload a .eml file or enter manually the
        email information (sender email, receiver email and email content). It
        will then analyze the email using AI to scan for different indicators of
        untrustworthiness.
      </p>
      <p class="text-base">
        The phishing creator uses AI to helps create email templates using
        different attack strategies to facilitate enterprise security training.
        Analysts can use this tool to easily create phishing emails they can
        then send to employees to test their security awareness.
      </p>
    </div>
    <div class="w-2/5 flex justify-center">
      <img src="../../../assets/phishing.png" alt="" />
    </div>
  </div>
  <div class="flex flex-row mb-24">
    <div class="w-2/5 flex justify-center">
      <img src="../../../assets/vulnerability.png" alt="" />
    </div>
    <div class="flex flex-col w-3/5 justify-center">
      <h2 class="text-5xl font-medium mb-6 text-right">Code Analyzer</h2>
      <p class="text-base text-right">
        The code analyzer analyzes a snippet of code for potential
        vulnerabilities. It uses AI to point out the vulnerabilities and offer
        solutions and examples of how to fix them and make the code more secure
        and less prone to attacks.
      </p>
    </div>
  </div>
  <div class="flex flex-row mb-24">
    <div class="flex flex-col w-3/5 justify-center">
      <h2 class="text-5xl font-medium mb-3 text-left">Report Generator</h2>
      <p class="text-base text-left">
        Considering that a large part of cybersecurity is paperwork, the report generator allows for the creation of several types of cybersecurity reports, based on a summary of noted events. It also allows to spin the 
        events in either a positive or a negative light, giving flexibility to adjust one's work depending on the audience.
      </p>
    </div>
    <div class="w-2/5 flex justify-center">
      <img src="../../../assets/report.jpg" alt="" />
    </div>
  </div>
  <app-randomtip></app-randomtip>
</div>
