/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

h1 {
  @apply text-4xl;
}

app-button {
  @apply my-12;
}

@tailwind utilities;

/* To use the variables from this stylesheet, use @import "src/styles.scss"; */

/*
 * Color variables
 */
$bg-dark: #0a0617;
$bg-light: #888;
$text: white;
$text-light: #9b9b9b7c;
$primary: #ffbe00;
$secondary: #8f0000;
$light-gray: #9b9b9b7c;
$border-light: 2px solid $light-gray;
$border-primary: 2px solid $primary;

/*
  * Sizing variables
  */
$nav-height: 60px;
$screen-height: calc(100vh - $nav-height);

/*
  * Global styles
  */
body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: $bg-dark;
  color: $text;
}

.title-gradient {
  background-image: linear-gradient(to right, $secondary, $primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
