<h1 class="text-center">Code Analyzer</h1>
<div class="mx-10">
  <app-input
    [placeholder]="'Enter your code here'"
    type="multiline"
    (onTextChanged)="onTextChanged($event)"
  ></app-input>
</div>

<div class="h-12"></div>

<div class="w-96 mx-auto">
  <app-button
    (click)="analyzeCode()"
    class=""
    [disabled]="codeAnalyseState === CodeAnalyseState.Analyzing"
    label="Run the analysis"
  ></app-button>
</div>

@if(codeAnalyseState === CodeAnalyseState.Analyzed) {
<h1 class="">Analysis</h1>
<markdown [data]="analysis"></markdown>
} @else if (codeAnalyseState === CodeAnalyseState.Analyzing) {
<div class="w-20 h-20 rounded-[50%] loader mx-auto mt-8"></div>
}
