<h1 class="text-4xl text-center mb-5">Code analyzer</h1>
<app-input
  [placeholder]="'Enter your code here'"
  type="multiline"
  (onTextChanged)="onTextChanged($event)"
></app-input>
<button
  class="w-full bg-amber-600 rounded mt-1 h-10"
  (click)="analyzeCode()"
  [disabled]="codeAnalyseState === CodeAnalyseState.Analyzing"
>
  Analyze
</button>

@if(codeAnalyseState === CodeAnalyseState.Analyzed) {
  <h1 class="text-4xl text-center my-5">Analysis</h1>
  <markdown [data]="analysis"></markdown>
} @else if (codeAnalyseState === CodeAnalyseState.Analyzing) {
  <div class="w-20 h-20 rounded-[50%] loader mx-auto mt-8">

  </div>
}

<!-- <pre>
#include <stdio.h>

int main() {
  char last_name[20];
  printf ("Enter your last name: ");
  scanf ("%s", last_name);
  return 0;
}
</pre> -->
